pre
  code
    |{
    each item, key in items.request
      | 
      |   "#{key}": {
      | 
      each prop, type in item
        if (typeof prop === 'object')
          include ./object(prop)
        else
        |    "!{type}": "!{prop}"
      | 
      |   }
    | 
    |}
