include templates/mixins/codeBlock

:markdown
  # {POST} /authToken

  Some info about the /authToken endpoint

  ## Request
+codeBlock(items.request)

:markdown
  ## Response
+codeBlock(items.response)
