:markdown
  # {POST} /authToken

  Some info about the /authToken endpoint

  ## Request

  ```json
    include templates/json/request
  ```

  ## Response

  ```json
    include templates/json/response
  ```